.sidebar
  display: inline-block
  border-bottom: 3px solid #444
  font-family: sans-serif
  vertical-align: top

  &-link
    display: block
    padding: 10px
    text-decoration: none
    color: #444

    &:hover
      text-decoration: underline
      background-color: rgba(0, 0, 0, .1)
